<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Example</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <h1>{{mylist}}</h1>
    <ul>
      {% for element in mylist %}
      <li>{{element}}</li>
      {% endfor %}
    </ul>
    <h3>These are my cats</h3>
    <ul>
      {% for cat in cats %}
      <li>{{cat}}</li>
      {% endfor %}
    </ul>
    {% if 'Ginger' in cats %}
    <p>Found you Ginger!</p>
    {% else %}
    <p>You got me!</p>
    {% endif %}
  </body>
</html>
